    * {
        box-sizing: border-box;
        /*border: 1px solid red;
        do usunięcia*/
        /*reset*/
        margin: 0;
        padding: 0;
    }

    html {
        font-family: 'Raleway', sans-serif;
        font-size: .875em;
    }

    .fixed-width {
        width: 1000px;
        margin: 0 auto;
        /* do poprawki*/
        padding: 1.5em 0;
        position: relative;
    }

    a {
        color: inherit;
        text-decoration: none;
        font-size: 1rem;
    }

    nav {}
    /*HEADER----*/

    header nav {
        position: absolute;
        top: 0;
        right: 0;
    }

    header {
        color: #fff;
        background-color: black;
        text-transform: uppercase;
        letter-spacing: .1em;
    }

    header h1 span {
        color: springgreen;
    }

    header h1 {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1rem;
        padding: .9em 0;
    }

    header nav ul {
        padding: .5em 0;
        list-style-type: none;
    }

    header nav ul>li {
        display: inline-block;
        margin-top: .4em;
        position: relative;
    }

    header nav ul li a {
        padding: .4em;
    }

    header nav ul ul {
        display: none;
        background-color: black;
    }

    header nav ul li:hover ul {
        position: absolute;
        display: block;
        top: 3em;
        left: -1.4em;
        text-transform: none;
        padding: .4em 1em;
    }

    header nav ul li:hover .triangle {
        display: block;
    }

    header nav ul>li .triangle {
        width: 0;
        margin-right: auto;
        margin-left: auto;
        border: 12px solid transparent;
        border-bottom-color: black;
        display: none;
        padding-top: 0.3em;
    }

    /
